# Java
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.swp
*.swo
